.kss-navigation {

    background: $purple;
    text-align: center;

    .kss-navigation__title {
        color: $white;
    }

    .kss-nav__ref {
        color: $white;
    }

    .kss-nav__name {
        color: $white;
    }
}