 //fonts
 $li-fontsize:16px;
 $p-fontsize: 42px;
 $b-fontsize:18px;
 $link-fontsize:20px;
 $h2-fontsize:18px;
 $text-fontsize:15px;
 $h3-fontsize: 40px;
 $cp-fontsize:18px;
 $cf-fontsize:16px;
 $f-fontsize:20px;
 