//color
$purple: #87509c;
$white:#ffffff;
$dark-purple:#643A79;
$orange:#EB7D4B;
$dark-orange:#f84d00;
$light-gray:#f9f9f9;
$gray:#e5e5e5;
$dark-gray:#e1e1e1;
$shadow:#363636;
$light-orange:#c86a40;
$light-orange:#ffb79b;
$pink:#cc227e;
$yellow:#cc8a22;
$blue:#203d9b;
$light-blue:#3c5499;
$navy-blue:#273a71;
$sky-blue:#30bae7;
$sea-blue:#299ec5;
$dark-blue:#344b8e;
$black: #111111;