/*
Header

Markup:
<div class="header-outer">
   <div class="container">
       <header class="header clearfix">
          <div class="logo">
               <img src="../images/logo.png" alt="cuda">
          </div>
          <nav class="menu">
               <ul>
                   <li><a href="#HOME">HOME</a></li>
                   <li><a href="#ABOUT">ABOUT</a></li>
                   <li><a href="#WORK">WORK</a></li>
                   <li><a href="#BLOG">BLOG</a></li>
                   <li><a href="#contact">CONTACT</a></li>
               </ul>
          </nav>
       </header>
   </div>
</div>

Styleguide: Header
*/

.header-outer {
    padding: 47px 0;
    background-color: $purple;

    .header {
        padding: 0px 10px;

        &::before,
        &::after {
            display: table;
            content: '';
        }

        &::after {
            clear: both;
        }

        .logo {
            float: left;
            width: 200px;
        }

        nav {
            float: right;

            ul {
                list-style: none;
                margin: 10px 0;

                li {
                    display: inline-block;
                    font-size: $li-fontsize;

                    a {
                        color: $white;
                        text-decoration: none;
                        padding: 10px 20px;
                        border-radius: 5px;
                        margin-right: 22px;
                        transition: all 0.3s ease-in-out;

                        &:hover {
                            background-color: $dark-purple;

                        }
                    }
                }
            }
        }
    }
}